@media screen and(max-device-width:400px){
  .a{
    width:40%;
    height:40%;
    background:#000;
    font-size:12em;
  }
  .b{
    width:40%;
    height:40%;
    background:red;
  }
  .b{
    width:20%;
    height:40%;
    background:green;
  }
@media screen and(min-device-width:400px) and (max-device-width:600px) {
  .a{
    width:20%;
    height:40%;
    background:#000;
    font-size:8em;
  }
  .b{
    width:20%;
    height:40%;
    background:red;
  }
  .b{
    width:60%;
    height:40%;
    background:green;
  }
